@model PhoneBook_ASP.NET_Core_App.Models.Classes.Notes

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />

</head>
<body>
    <table class="simple-little-table" cellspacing='0'>
        <tr style="font-size:20px;">
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Номер телефона</th>
            <th>Адрес</th>
            <th>Информация</th>
        </tr>
        <tr>
            <td width="200">@Model.Id</td>
            <td width="200">@Model.Name</td>
            <td width="200">@Model.SurName</td>
            <td width="200">@Model.Patronymic</td>
            <td width="200">@Model.PhoneNumber</td>
            <td width="200">@Model.Address</td>
            <td width="200">@Model.Information</td>
        </tr>
    </table>
</body>
</html>